#video {
    background-color: blue; align-items: center; position: static; padding: 2%;
}

#title {
    font-family: fantasy; background-color: aqua; background-position: center; background-clip: padding-box;
    text-align: center; padding: 2%; text-decoration: darkviolet;
}